name: Java CI with Maven & Docker Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file gateway-java/pom.xml
      - name: Build Docker Image (Gateway)
        run: docker build -t market-gateway:latest ./gateway-java
      - name: Build Docker Image (Rust Aggregator)
        run: docker build -t market-aggregator:latest ./aggregator-rust